<div class="container">
    <div class="row">
      <div class="col-sm-12">
    <h1>Historial academico</h1>
    <ul>
    <li>
        <h4><img src="assets/img//icono-ap.png" width="50" height="35"> Argentina programa </h4>
    </li>
    <p> <b> Segunda etapa #YoProgramo</b></p>
    <p><b> Contenidos aprendidos durante el curso:</b> Scrum, Github, HTML, CSS, Bootstrap, Javascript,
        Typescript, Angular, MySQL, Java, SpringBoot.</p>
    <p><b> Fecha de realización:</b> Junio 2022 - Enero 2023</p>



    <li>
        <h4><img src="assets/img//icono-uner.png" width="50" height="35"> Universidad Nacional de Entre Rios 
        </h4>
    </li>
    <p> <b> Tecnicatura universitaria en procesamiento y explotacion de datos.</b></p>
    <p><b>Estudios no finalizados.</b></p>
    <br>
    <p>Julio 2019 - Abril 2022</p>

    </ul>
    <br>
