<nav class="navbar sticky-top navbar-expand-md bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <a
          class="navbar-brand"
          href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"
        >
          <img
            src="assets/img/Argentina-programa.png"
            alt="Logo HTML5"
            width="230px"
        /></a>

        <a
          class="navbar-brand position-absolute top-0 end-0"
          href="https://www.instagram.com/cristiancrispens02/"
          style="padding-right: 200px"
          target="_blank"
        >
          <i
            class="bi bi-instagram"
            style="font-size: 2.5rem; color: rgb(28, 87, 253)"
          >
          </i>
        </a>

        <a
          class="navbar-brand position-absolute top-0 end-0"
          href="https://www.linkedin.com/in/cristian-crispens-608b48241/ "
          style="padding-right: 140px"
          target="_blank"
        >
          <i
            class="bi bi-linkedin"
            style="font-size: 2.5rem; color: rgb(28, 87, 253)"
          >
          </i>
        </a>

        <a
          class="navbar-brand position-absolute top-0 end-0"
          href="https://github.com/Crispens02"
          style="padding-right: 80px"
          target="_blank"
        >
          <i
            class="bi bi-github"
            style="font-size: 2.5rem; color: rgb(28, 87, 253)"
          >
          </i>
        </a>

        <div class="btn-group">
          <button
            type="button"
            class="btn btn-link"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Secciones
          </button>
          <ul class="dropdown-menu" style="margin-right: 0rem">
            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li><a class="dropdown-item" href="#">Historial academico</a></li>
            <li><a class="dropdown-item" href="#">Experiencia laboral</a></li>
            <li><a class="dropdown-item" href="#">Skills</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="#">Contacto</a></li>
          </ul>
        </div>

        <li
          button
          type="button"
          class="btn btn-link position-absolute end-0"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          style="margin-block-start: 0.5%"
        >
          Ingresar
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" class="negro">
          Ingresar
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Correo electrónico</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Ingresar correo"
            />
            <small id="emailHelp" class="form-text text-muted">
              Nunca compartas tu correo electrónico con nadie más.</small
            >
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Contraseña"
            />
          </div>
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
            />
            <label class="form-check-label" for="exampleCheck1"
              >Check me out</label
            >
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button type="button" class="btn btn-primary">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>

<!--Circulo de perfil-->
<div style="background-color: rgb(0, 59, 126)">
  <img
    src="assets/img//portada.png"
    alt="Logo HTML5"
    width="100%"
    height="100%"
  />

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="circulo">
          <img src="assets/img//perfil.png" class="imagen" />
        </div>
        <h1>Cristian Gabriel Crispens</h1>

        <br />
        <br />
      </div>
    </div>
  </div>
</div>
